.wrapper
  .resume
    .name
      %h1.name__heading Andrew<span class="name__color"> WYATT</span>
    .introduction
      %h2.introduction__heading PROFESSIONAL PROFILE
      %p.introduction__content Avec 10 ans d’expérience, mon savoir-faire s’oriente autour de la réalisation et la gestion de projets informatiques. Au cours de mon emploi chez Bouygues Télécom, j’étais responsable des outils pour la supervision de la performance du réseau radio, avec une équipe de 2 à 6 personnes selon les projets.
      .introduction__link-container
        %a.introduction__link{:href => "http://www.linkedin.com/in/andrew-wyatt-430923a2", :target => "_blank"} linkedin.com/in/andrewwyatt
    .experience
      %h2.experience__heading WORK EXPERIENCE
      .experience__content
        .job
          %h3.job__position Chef de Projet SI
          %p.job__employer
            <span class="job__employer-name">Bouygues Telecom</span> / <span class="job__employer-location">Paris, France</span> / <span class="job__duration">2008 - 2015</span>
          %p.job__description Lorem ipsum dolor sit amet, illud dignissim ad vel, ad nam pertinax adversarium. Duo vituperata accommodare id, duo timeam gloriatur ad, ea pri iracundia interesset. Laoreet impedit volutpat quo te, his eu amet qualisque.
          %ul.job__duties
            %li.job__duty Maîtrise d'Œuvre (MOE) / Maîtrise d'Ouvrage (MOA)
            %li.job__duty Management des projets en mode agile (scrum)
            %li.job__duty Développement rapide d’applications web (Webforms / C# / SQL)
            %li.job__duty Microsoft SQL Server administration
            %li.job__duty Support niveau 2
        .job
          %h3.job__position Senior RAN performance engineer
          %p.job__employer
            <span class="job__employer-name">T-Mobile</span> / <span class="job__employer-location">Londres, Angleterre</span> / <span class="job__duration">2004 - 2007</span>
          %p.job__description Lorem ipsum dolor sit amet, illud dignissim ad vel, ad nam pertinax adversarium. Duo vituperata accommodare id, duo timeam gloriatur ad, ea pri iracundia interesset. Laoreet impedit volutpat quo te, his eu amet qualisque.
          %ul.job__duties
            %li.job__duty Conception et développement d’outils web d’optimisation automatique de paramètre radio.
            %li.job__duty Maintenance des outils web pour des ‘cell planners’ (ingénieur de planification)
            %li.job__duty Réparation des défauts à court terme et étude de la performance du réseau à long terme
            %li.job__duty Production d’alarmes pour des ‘fault management teams’ (équipe de gestion).
        .job
          %h3.job__position RF engineer
          %p.job__employer
            <span class="job__employer-name">Antenova</span> / <span class="job__employer-location">Cambridge, Angleterre</span> / <span class="job__duration">2006 - 2009</span>
          %p.job__description Lorem ipsum dolor sit amet, illud dignissim ad vel, ad nam pertinax adversarium. Duo vituperata accommodare id, duo timeam gloriatur ad, ea pri iracundia interesset. Laoreet impedit volutpat quo te, his eu amet qualisque.
          %ul.job__duties
            %li.job__duty His velit tritani persequeris ei, atqui erant molestie nam ex, pro ei nisl prodesset.
            %li.job__duty Falli indoctum scripserit id duo, mei no maluisset laboramus, te ius alia dicta expetendis.
            %li.job__duty Eu probatus tractatos definitiones nec, sit at quem essent. Harum eruditi has in, pro quod dolor mentitum et, mea assum recteque at.
    .skills
      %h2.skills__heading KEY SKILLS
      %ul.skills__list
        %li.skills__skill Communication / Teamwork
        %li.skills__skill Creativity / Problem Solving
        %li.skills__skill HTML5 / CSS3
        %li.skills__skill JavaScript
        %li.skills__skill Adobe Creative Suite
        %li.skills__skill TSQL PL/SQL
        %li.skills__skill .NET 
        %li.skills__skill SCRUM
        %li.skills__skill 
        %li.skills__skill 
        %li.skills__skill 
        %li.skills__skill
    .education
      %h2.education__heading EDUCATION
      .education__content
      
        .institution
          %h3.institution__degree Web Design et Infographie
          %p.institution__name Elan Formation
          %p.institution__location Strasbourg
          %p.institution__duration 2017 -   
          
        .institution
          %h3.institution__degree Langue Francaise
          %p.institution__name Barnet College
          %p.institution__location Londres
          %p.institution__duration 2005 - 2006                       
        .institution
          %h3.institution__degree Electronic and Communications Engineering
          %p.institution__name University of Leeds
          %p.institution__location Leeds
          %p.institution__duration 1996 - 2000
          
        .institution
          %h3.institution__degree Art, Mathématiques, Physiques
          %p.institution__name Ridge Danyers 6 Form College
          %p.institution__location Manchester
          %p.institution__duration 1994 - 1996
          
    .contact-information
      %h2.contact-information__heading CONTACT INFORMATION
      %p.contact-information__phone
        %a.contact-information__link{:href => "tel:0768301713", :target => "_blank"} 07 68 30 17 13
      %p.contact-information__email
        %a.contact-information__link{:href => "mailto:andrew.wyatt0@gmail.com", :target => "_blank"} andrew.wyatt0@gmail.com
      %p.contact-information__website
        %a.contact-information__link{:href => "http://www.anigraphiccreations.com", :target => "_blank"} anigraphiccreations.com
      %p.contact-information__location Strasbourg et environs
%footer.footer
  %p.footer__text CSS Grid Resume by <a href="//anigraphiccreations.com/" class="footer__link" target="_blank">Andrew WYATT</a>